@import "./themeConstants.scss";
.App {
  margin: 0;
  padding: 0;
}

.App-main-container {
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 50vmin;
  pointer-events: none;
}

.App-container {
  flex-grow: 1;
  background-color: $primary50;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: $primary500;
  padding-top: 80px;
}

.App-content {
  flex-grow: 1;
  width:calc(100vw - 48px);
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
