@import url("https://fonts.googleapis.com/css?family=Lobster");
$white: #FFFFFF;
$black: #000000;

$primary50: #ECEFF1;
$primary100: #CFD8DC;
$primary200: #B0BEC5;
$primary300: #90A4AE;
$primary400: #78909C;
$primary500: #607D8B;
$primary600: #546E7A;
$primary700: #455A64;
$primary800: #37474F;
$primary900: #263238;